:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --footer-color:#2F303A;
    --connect-color:#757575;
    --primary-font-famaly:Roboto;
    --primary-width:1230px;
}


.container{
    width: var(--primary-width);
    padding-right:15px;
    padding-left: 15px;
    
    
}

img {display: block;}
ul {list-style: none;}
ul {padding-inline-start:0}
ul{margin:0}
a {text-decoration: none;}


/* визуально скрыть*/

.visally-hidden{
    position: absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
}



/* header */

.headlink{
    display: flex;
   
    align-items: center;
    
}



.site-nav{
    display: flex;
    margin-left: auto;
    align-items: center;
    padding-inline-start: 0;
    
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}


.site-nav .itemheader:first-child{
    margin-right: 93px;
}

.site-nav li:not(:last-child){
    margin-right: 50px;
}

.site-nav .link.current{
    color: rgb(150, 130, 238);
}

.web {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;

}

.studio {
    color: var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
}

.link{
    color:var(--title-text-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
    font-family: var(--primary-font-famaly);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}
.link:active{
    color:rgb(255, 0, 0);
}
.link{
    color: var(--title-text-color);
}


/* box s style for tel and mail*/

.conect{
    display: flex;
    margin-left:auto;
    padding-inline-start: 0;
}

/* отступы ссылок, кроме последней*/
.conect .itemheader:not(:last-child){
    margin-right:50px;
}

.conect li{
    display:  block;
    align-items: center;
   
    font-family: var(--primary-font-famaly);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}




.conect .link{
    color: var(--connect-color);
}

.conect p:hover,
.conect p:focus{
    color:var(--accent-color);
}


/* body color */
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

/*   hero   */
.hero {
       
    text-align: center;
    background-color: #2F303A;
    width: var(--primary-width);
    
}

.hero-title {
    color: var(--primary-white-color);
    font-family: var(--primary-font-famaly);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    margin-bottom:30px;
    padding-top:200px;
}

.hero-btn {
    background-color: #2196F3;
    color: var(--primary-white-color);
    width: 200px;
    height: 50px;
    font-family: var(--primary-font-famaly);
    font-weight: bold;
    font-size: 16px;   
    letter-spacing: 0.06em;
    border-radius: 4px;
    margin-bottom: 200px;
}


/*  features */

/*  feature container   */
.features{
    display: flex;
    justify-content:space-between;
    padding-inline-start:0;
    padding-top: 94px;
    padding-bottom:94px;
}

.features .item{
    width:270px;
}

.features h3{
    font-family: var(--primary-font-famaly);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}

.features p{
    font-family: var(--primary-font-famaly);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}


/*   ourwork     */

.ourworkimg ul{
    
    display: flex;

    width: 370px;
    padding-bottom:94px;
    margin: 0;
}

.ourwork:not(:last-child){
    margin-right:30px;
}
/*.ourwork{
    font-family: var(--primary-font-famaly);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    }*/



    /*  our team    */

.ourteamfon{
    background-color: #F5F4FA;
}

.ourteamtitle{
    font-family: var(--primary-font-famaly);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    margin:0;
    padding-top:94px;
    padding-bottom: 50px;
}

.container .ourteam{
    display: flex;
}

.ourteam li{
    background-color:var(--primary-white-color);
}
.ourteam{
    margin: 0;
    padding-bottom:94px;

}

.ourteam .item:not(:last-child){
    margin-right: 30px;
}

.ourname{
    font-family: var(--primary-font-famaly);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    
}

.ourprofession{
    font-family: var(--primary-font-famaly);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    }



    /* footer */



body footer{
    background-color:var(--footer-color);
    width:var(--primary-width);
    padding-right:15px;
    padding-left: 15px;
}    

footer .container{
    display: flex;
    flex-direction: column;
}

footer a:first-child{
    margin-top:60px;
    margin-bottom:20px;
}

footer .item:last-child{
    margin-bottom: 60px;
}

footer .item{
    margin-bottom: 9px;
}

.webfoot{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    
    color: var(--accent-color);
}
.studiofoot{   
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    
    color: var(--primary-white-color);
}


address{
    margin-bottom: 9px;
    font-family: var(--primary-font-famaly);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-style: normal;
    color:var(--primary-white-color);

    
    
}

.howconectfoot{
    font-family: var(--primary-font-famaly);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}







/* стили portfolios.html*/



/* buttons */

.portf-btn:focus,
.portf-btn:hover{
    cursor: pointer;
    background-color: var(--accent-color);
    color:var(--primary-white-color);
    font-family: var(--primary-font-famaly);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    outline: transparent;
    border: var(--accent-color);

    border-radius: 4px;
    
    padding:6px 15px;
    
}


.portf-btn{
    color:#212121;
    background-color: #F5F4FA;
    font-family: var(--primary-font-famaly);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    outline: transparent;
    border:#F5F4FA;

    border-radius: 4px;
    padding:6px 15px;
}

.portfolio-btn{
    display:flex;
    justify-content: center;
    margin-top:94px;
    margin-bottom:34px;
}

.portfolio-btn .item:not(:last-child){
    margin-right: 8px;
}






.img-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
    padding-bottom: 94px;
}

/* отступы в портфолио фото  */
.img-portfolio .item{
    margin-right: 30px;
    margin-bottom:30px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;

}
.img-portfolio .item:nth-child(3n){
    margin-right:0;
}
.img-portfolio .item:nth-last-child(-n+3){
    margin-bottom:0;
}





/* our projects */

.wedo{
    margin-left:24px;

    font-family:var(--primary-font-famaly);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;

}

.aboutwedo{
    margin-left:24px;

    font-family:var(--primary-font-famaly);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;

}